* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

main {
    margin: 0 auto;
    max-width: 960px;
}

.header {
    margin-bottom: 20px;
}

.container-all {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    height: 100vh;
}


/*Contenedor del modal*/

.container-principal__modal {
    margin-bottom: 20px;
}

.container-modal {
    /*Para esconder el modal*/
    display: none;
    /*mantenerlo estatico*/
    position: fixed;
    /*para ponerlo ensima de todo el contenido html */
    /* z-index: 1; */
    /* localizacion del modal*/
    padding-top: 100px;
    left: 0;
    right: 0;
    /*para que abarque toda la pantalla*/
    width: 100%;
    height: 100%;
    /*para darle opacidad y olor*/
    background-color: rgb(0, 0, 0, 0.4);
}


/*box modal con el contenido*/

.modal-content {
    position: relative;
    /*color de fondo */
    background-color: white;
    /*centrado del box modal*/
    margin: auto;
    /*color del borde */
    border: 1px solid #888;
    /*relleno del modal*/
    padding: 10px;
    /*ancho de la caja modal*/
    width: 30%;
    /*sombreado de la caja modal*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*animacion nombre*/
    animation-name: modal-top;
    /*duracion de la animacion*/
    animation-duration: 1s;
}

@keyframes modal-top {
    from {
        /*punto de partida*/
        top: -300px;
        opacity: 1
    }
    to {
        /*posicion final de la animacion*/
        top: 0;
        opacity: 1
    }
}

.modal-header {
    margin-bottom: 20px;
}

.modal-body {
    margin-bottom: 20px;
}

.modal-body__p {
    line-height: 20px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.close {
    color: #888;
    float: right;
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
    background: transparent;
    outline: none;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    padding: 5px;
    border-radius: 4px;
}

.btn-cancelar {
    background-color: grey;
    color: white;
    outline: none;
    margin-right: 10px;
}

.btn-aceptar {
    background-color: #007bff;
    color: white;
    outline: none;
}

.btn-aceptar:active {
    border-color: #007bff;
}

.btn-cancelar:active {
    border-color: #6c757d;
}

.img-modal {}


/*Acordion*/

.accordion {
    background-color: #eee;
    width: 100%;
    text-align: left;
    padding: 10px;
    border: none;
}

.text-detail {
    display: none;
    padding: 20px 20px;
    color: cornsilk;
}


/*------------------*/


/*Dropdown*/

.container-all__dropdown {
    display: flex;
    justify-content: flex-end;
}

.container-principal__dropdown {
    display: inline-block;
    position: relative;
}

.btn-dropdown {
    padding: 10px 15px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
}

.btn-dropdown:focus,
.btn-dropdown:hover {
    opacity: 0.4;
    outline: none;
}

.content-dropdown {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.content-dropdown a {
    display: block;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
}

.content-dropdown a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    /* border: 1px solid black; */
}

.show {
    display: block;
}


/*-------------------------------*/